

body {
    background-color: #fffbf7;
}
h1 {
    font-size: 60px;
    color: #025686;
    text-align: center;
    font-family: prompt, sans-serif;
}

.main > p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}
button {
    color: #fff;
    background-color: #025686;
}

.header {
    margin: 40px 20px 0;
    font-size: 0; /*Que el tam de fuente de header sea 0*/
    font-family: sans-serif;
    height: 45px;
}

li {
    display: inline;
    margin: 0 25px;
    color: #025157;
}
/* Que todo lo que tenga header aplicar este inline */
.header > * {   
    display: inline-block;
    font-size: 16px; /*Que los hijos de header tengan 16px de tam fuente*/
    line-height: 45px; 
    height: 100%; 
    vertical-align: middle;
}

.logo {         /* Se reduce el tamaño del contenedor etiqueta a*/
    width: 15%;
}

.logo > img {   /*a la etiqueta hija de logo img*/
    width: 25%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {  /* cada uno de los hijos de actions va a tener separacion de 10px izq der*/
    margin: 0px 10px;
}

.actions > a {
    color: #67b54b;
}

.actions > button {
    background-color: #67b54b;
    color: #fff;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin-top: 285px;
    text-align: center;

}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}


.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publish { /*container styles */
    margin-left: 30px;
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor img {
      width: 120px;
      margin-top: 10px;
  }

  .features{
    display: grid;
    background-color:cadetblue;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);

}

.features > article {
    background-color: white;
    border-radius: 25px;
    margin: 20px;
}

.features > article:hover {
    background-color: rgb(26, 26, 26);   
}

.article {
    margin: 25px;
    display: flex;
    flex-direction: row;
}

.contenido {
    width: 60%;
    text-align: left;
    font-size: 14px;
    color: gray;
}

.imagen {
    width: 40%;
    text-align: right;
    
}

/*dispositivos moviles en vista  viewport (vertical) */
@media (max-width: 575px) {
  .navbar, 
  .actions {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
}

/* dispositivos pequeños en vista landscape (horizontal)*/
@media (min-width: 576) and (max-width: 767px){

}

/* */