
body {
    background-color: #fffbf7;
}

h1 {
    font-size: 40px;
    color: #025157;
    text-align: center;
    font-family: prompt, sans-serif;
}

p {
    color: #8b8b8bcc;
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  margin: 40px 20px 0;
  font-size: 0; /*Que el tam de fuente de header sea 0*/
  font-family: sans-serif;
  height: 45px;
}

li {
    display: inline;
    margin: 0 25px;
    color: #025157;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
  z-index: 1030;
}

/* Que todo lo que tenga header aplicar este inline */
.header > * {   
    display: inline-block;
    font-size: 16px; /*Que los hijos de header tengan 16px de tam fuente*/
    line-height: 45px; 
    height: 100%; 
    vertical-align: middle;
}

.logo {         /* Se reduce el tamaño del contenedor etiqueta a*/
    width: 15%;
}

.logo > img {   /*a la etiqueta hija de logo img*/
    width: 25%;
}

.navbar {
    /* width: 70%; */
    text-align: center;
    color: #025157;
    font-weight: 500;
    background-color: #FFFbF7;
}

.actions {
    /* width: 15%; */
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {  /* cada uno de los hijos de actions va a tener separacion de 10px izq der*/
    margin: 0px 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    background-color: #67b54b;
    color: #fff;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin-top: 140px;
    text-align: center;

}

.banner1 img {
  width: 50%;
}
.banner2 img {
  width: 70%;
}

.publish { /*container styles */
  margin-left: 30px;
}

.publish h3 {
  font-family: "prompt", serif;
  font-size: 30px;
  line-height: 48px;
  color: #025157;
}

.publish p {
  font-size: 14px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.publish > form {
  display: flex;
  flex-direction: row;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13%;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
} 

 
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor img {
      width: 120px;
      margin-top: 10px;
  }

  .features{
    display: grid;
    background-color: #025157;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);

}

.features > article {
    background-color: white;
    border-radius: 25px;
    margin: 20px;
}

.features > article:hover {
    background-color: #000000;   
    color: #fff;
}

.article {
    margin: 25px;
    display: flex;
    flex-direction: row;
}

.contenido {
    width: 60%;
    text-align: left;
    font-size: 14px;
    
}
.contenido p {
  font-size: 100%;
  text-align: justify;
  color: gray;
}
.contenido a {
  border: none;
  color: #a1d683;
  text-align: left;
  font-weight: 550;
  text-decoration: none;

}

.imagen {
    width: 40%;
    text-align: right;
    
}

/*dispositivos moviles en vista  viewport (vertical) */
@media (max-width: 575px) {
  .navbar, 
  .actions {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  .main {
    margin-top: 100px;
  }
  .banner > img {  /*img capterra tendra un 100% del tam d dispositivo*/
    width: 100%;
    
  }
  .publish > form{ /*s5 reto 3*/
    flex-direction: column;
  }
  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }
  .publish > form > div > input {
    width: 65%;
  }
  .promo {
    flex-direction: column;
    max-width: 90%;
  }
  .explanatory-video {
    margin-top: 10px;
  } 

  .publish {
    margin-top: 10px;
  }
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }
  .features { /*4 filas 1 columna*/
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    height: 100%;
  }
  .article > div > img { 
    display: none;
  }
}

/* dispositivos pequeños en vista landscape (horizontal)*/
@media (min-width: 576) and (max-width: 767px){
  
}

/* */